@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");

*,
body {
  font-family: "Raleway", sans-serif;
}

.page-heading {
  @include heading;
  letter-spacing: 1px;
  color: $black;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;

  &:after {
    content: "";
    width: 60px;
    height: 5px;
    background: $golden;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
  }
}
.page-subheading {
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
  color: $magenta;
}


