@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");

*,
body {
  font-family: "Raleway", sans-serif;
}

@mixin body-font {
  font-size: 18px;
  line-height: 30px;

  @include breakpoint(sm-tablet) {
    font-size: 16px;
    line-height: 26px;
  }
}

@mixin heading {
  font-size: 38px;
  color: $golden;
  font-weight: 600;
  margin-bottom: 30px;

  @include breakpoint(sm-tablet) {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
