@mixin breakpoint($breakpoint) {
    @media (max-width: $breakpoint) { @content; }

    @if $breakpoint == mobile {
        @media (max-width: #{$mobile-screen}) { @content };
    }
    @if $breakpoint == sm-tablet {
        @media (max-width: #{$tablet-sm-screen}) { @content };
    }
    @if $breakpoint == md-tablet {
        @media (max-width: #{$tablet-md-screen}) { @content };
   }
    @if $breakpoint == lg-tablet {
        @media (max-width: #{$tablet-lg-screen}) { @content };
    }
    @if $breakpoint == desktop{
        @media (max-width: #{$desktop-screen}) { @content };
   }
    @if $breakpoint == md-desktop{
        @media (max-width: #{$desktop-md-screen}) { @content };
    }
    @if $breakpoint == lg-desktop{
        @media (min-width: #{$desktop-lg-screen}) { @content };
    }
}



@mixin body-font {
    font-size: 18px;
    line-height: 30px;
  
    @include breakpoint(sm-tablet) {
      font-size: 16px;
      line-height: 26px;
    }
  }
  
  @mixin heading {
    font-size: 38px;
    color: $golden;
    font-weight: 600;
    margin-bottom: 30px;
  
    @include breakpoint(sm-tablet) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }