// Mobile
$mobile-screen: 600px;

// Small tablets (portrait view)
$tablet-sm-screen: 768px;

// Tablets
$tablet-md-screen: 992px;

// Large tablets
$tablet-lg-screen: 1200px;

// Desktop screen
$desktop-screen: 1440px;

// Medium Desktop screen
$desktop-md-screen: 1680px;

//Large Desktop
$desktop-lg-screen: 1681px;

// colors

$black: #222222;
$grey: #7a7a7a;
$magenta: #61162d;
$golden: #b5a36a;
$white: #fff;
$blue: #4478b5;
$green:#84c225;
$yellow: #f4ca52;
$sky-blue: #75c5f0;
$orange: #e77817;
$purple: #6d609e;
