@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
*,
body {
  font-family: "Raleway", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  padding: 0;
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  height: 90px;
}

@media (max-width: md-tablet) {
  .navbar {
    height: unset;
  }
}

@media (max-width: 992px) {
  .navbar {
    height: unset;
  }
}

.navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: md-tablet) {
  .navbar-collapse {
    padding: 30px 0 10px;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    padding: 30px 0 10px;
  }
}

.navbar-toggler:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.dropdown-toggle::after {
  border-bottom: 1px solid black;
  border-left: unset;
  border-right: 1px solid black;
  border-top: unset;
  content: "";
  height: 7px;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 7px;
}

.navbar-brand img {
  max-height: 60px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #b5a36a;
}

.navbar-light .navbar-nav .nav-link {
  color: #222222;
  font-weight: 500;
  font-size: 16px;
}

.navbar-light .navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-light .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

@media (max-width: md-tablet) {
  .navbar-light .navbar-nav .nav-item {
    margin-right: unset;
    padding: 10px 0;
  }
}

@media (max-width: 992px) {
  .navbar-light .navbar-nav .nav-item {
    margin-right: unset;
    padding: 10px 0;
  }
}

.dropdown-menu[data-bs-popper] {
  left: unset;
  right: 0px;
}

.header {
  background-image: url(../images/header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 90px);
  position: relative;
  width: 100%;
}

@media (max-width: lg-desktop) {
  .header {
    height: 600px;
  }
}

@media (min-width: 1681px) {
  .header {
    height: 600px;
  }
}

@media (max-width: md-tablet) {
  .header {
    height: 400px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 400px;
  }
}

footer {
  padding-top: 100px;
  background-color: #e1e1e1;
}

footer .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

footer .input-wrapper .input-field {
  min-height: 75px;
  padding: 20px 16px;
  padding-left: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 580px;
  width: 100%;
  background-color: white;
}

footer .input-wrapper .input-field input {
  height: 100%;
  width: 100%;
  max-width: 450px;
  border: 0px;
}

footer .input-wrapper .input-field input:focus {
  outline: 0px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

footer .input-wrapper .input-field button {
  outline: 0;
  background-color: #61162d;
  color: white;
  border: 0px;
  padding: 12px 20px;
  border-radius: 4px;
  margin-left: 5px;
}

footer .footer-wrapper {
  padding-bottom: 80px;
}

footer .footer-logo img {
  max-width: 180px;
  width: 100%;
}

@media (max-width: md-tablet) {
  footer .footer-logo {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  footer .footer-logo {
    margin-bottom: 20px;
  }
}

footer h3 {
  font-weight: 700;
  margin-bottom: 24px;
  font-size: 20px;
}

@media (max-width: md-tablet) {
  footer h3 {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  footer h3 {
    margin-top: 30px;
    margin-bottom: 16px;
    font-size: 18px;
  }
}

footer .footer-links ul li {
  padding: 5px 0;
}

footer .footer-links ul li a {
  text-decoration: none;
  color: #7a7a7a;
}

footer .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-icons ul li {
  margin-right: 16px;
}

footer .social-icons ul li a img {
  width: 20px;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid #fff;
}

footer .footer-bottom .copyright-text {
  width: auto;
  font-size: 14px;
  color: #7a7a7a;
}

@media (max-width: md-tablet) {
  footer .footer-bottom .copyright-text {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  footer .footer-bottom .copyright-text {
    margin-bottom: 10px;
  }
}

footer .footer-bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-bottom-links a {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #7a7a7a;
  padding: 10px;
}

.covid__info {
  padding: 100px 0;
  text-align: center;
}

.covid__info h2 {
  font-size: 38px;
  color: #b5a36a;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: sm-tablet) {
  .covid__info h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .covid__info h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.covid__info p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

@media (max-width: sm-tablet) {
  .covid__info p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .covid__info p {
    font-size: 16px;
    line-height: 26px;
  }
}

.covid__info p span {
  display: inline;
}

@media (max-width: lg-desktop) {
  .covid__info p span {
    display: block;
  }
}

@media (min-width: 1681px) {
  .covid__info p span {
    display: block;
  }
}

.release {
  padding: 80px 0;
  background-color: #f9f9f9;
}

.release__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
}

.release__info:last-child {
  margin-bottom: 0px;
}

.release__info img {
  max-width: 88px;
  margin-right: 30px;
}

@media (max-width: sm-tablet) {
  .release__info img {
    max-width: 50px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .release__info img {
    max-width: 50px;
    margin-right: 20px;
  }
}

.release__info--text h3 {
  font-size: 24px;
  color: black;
  margin-bottom: 30px;
  font-weight: 700;
}

@media (max-width: sm-tablet) {
  .release__info--text h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .release__info--text h3 {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.release__info--text p {
  font-size: 18px;
  line-height: 30px;
  color: #7a7a7a;
}

@media (max-width: sm-tablet) {
  .release__info--text p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .release__info--text p {
    font-size: 16px;
    line-height: 26px;
  }
}

.cards-wrapper {
  width: 100%;
  background-color: #61162d;
  padding: 100px 0;
}

.cards-wrapper .t-card {
  color: #fff;
  max-width: 300px;
}

@media (max-width: sm-tablet) {
  .cards-wrapper .t-card {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .cards-wrapper .t-card {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }
}

.cards-wrapper .t-card img {
  max-width: 70px;
  margin-bottom: 30px;
}

.cards-wrapper .t-card h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cards-wrapper .t-card p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.cards-wrapper .t-card a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.publications {
  padding: 100px 0;
}

@media (max-width: lg-desktop) {
  .publications__text {
    padding-right: 20px;
  }
}

@media (min-width: 1681px) {
  .publications__text {
    padding-right: 20px;
  }
}

@media (max-width: sm-tablet) {
  .publications__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .publications__text {
    margin-bottom: 30px;
  }
}

.publications__text h4 {
  font-size: 28px;
  font-weight: 600;
  color: #61162d;
  margin-bottom: 16px;
}

.publications__text h6 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
}

.publications__text p {
  font-size: 18px;
  line-height: 26px;
}

@media (max-width: desktop) {
  .publications__text p {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .publications__text p {
    font-size: 16px;
  }
}

.publications__text p strong {
  color: #7a7a7a;
  font-weight: 600;
}

.publications__img img {
  width: 100%;
}

.publications .t-reverse {
  margin-top: 80px;
}

.gallery {
  padding: 100px 0;
  text-align: center;
}

.gallery__info h2 {
  font-size: 38px;
  color: #b5a36a;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: sm-tablet) {
  .gallery__info h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .gallery__info h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.gallery__info p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media (max-width: sm-tablet) {
  .gallery__info p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .gallery__info p {
    font-size: 16px;
    line-height: 26px;
  }
}

.gallery__info p span {
  display: inline;
}

@media (max-width: lg-desktop) {
  .gallery__info p span {
    display: block;
  }
}

@media (min-width: 1681px) {
  .gallery__info p span {
    display: block;
  }
}

.gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__wrapper--img {
  width: 33.33%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@media (max-width: md-tablet) {
  .gallery__wrapper--img {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .gallery__wrapper--img {
    width: 50%;
  }
}

@media (max-width: sm-tablet) {
  .gallery__wrapper--img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .gallery__wrapper--img {
    width: 100%;
  }
}

.gallery__wrapper--img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0%;
  background-color: #00000062;
  z-index: 10;
  -webkit-transition: 0.3s right linear;
  transition: 0.3s right linear;
}

.gallery__wrapper--img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.gallery__wrapper--img--content {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -100%;
  background-color: #db9107ad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s left  linear;
  transition: 0.3s left  linear;
  z-index: 20;
}

.gallery__wrapper--img--content .g-icons {
  margin-bottom: 16px;
}

.gallery__wrapper--img--content .g-icons span {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.gallery__wrapper--img--content .g-icons span + span {
  margin-left: 16px;
}

.gallery__wrapper--img--content .g-icons span img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 25px;
}

.gallery__wrapper--img--content h5 {
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: desktop) {
  .gallery__wrapper--img--content h5 {
    font-size: 20px;
  }
}

@media (max-width: 1440px) {
  .gallery__wrapper--img--content h5 {
    font-size: 20px;
  }
}

.gallery__wrapper--img--content p {
  font-size: 18px;
}

@media (max-width: desktop) {
  .gallery__wrapper--img--content p {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .gallery__wrapper--img--content p {
    font-size: 16px;
  }
}

.gallery__wrapper--img:hover .gallery__wrapper--img--content {
  left: 0%;
}

.slider {
  padding: 100px 0;
  background-image: url(../images/section-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}

.slider__content {
  background-color: #fff;
  padding: 60px 50px;
}

.slider__content--slide h4 {
  margin-bottom: 40px;
  color: #61162d;
  font-size: 24px;
  font-weight: 600;
}

.slider__content--slide p {
  margin-bottom: 30px;
  color: #7a7a7a;
  line-height: 26px;
}

.slider__content--slide a {
  text-decoration: none;
  color: #222222;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider__content--slide a img {
  max-width: 14px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 10px;
}

.slider__content .owl-nav button {
  position: absolute;
  top: 50%;
}

.slider__content .owl-nav button img {
  width: 14px;
}

.slider__content .owl-nav .owl-prev {
  left: 18px;
}

.slider__content .owl-nav .owl-next {
  right: 18px;
}

.slider__content .owl-nav .owl-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.charts {
  padding: 80px 0px;
  background-color: #f5f5f5;
}

.charts__info {
  text-align: center;
}

.charts__info h2 {
  font-size: 38px;
  color: #b5a36a;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: sm-tablet) {
  .charts__info h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .charts__info h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.charts__info p {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 100px;
}

@media (max-width: sm-tablet) {
  .charts__info p {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 768px) {
  .charts__info p {
    font-size: 16px;
    line-height: 26px;
  }
}

.charts__info p span {
  display: inline;
}

@media (max-width: lg-desktop) {
  .charts__info p span {
    display: block;
  }
}

@media (min-width: 1681px) {
  .charts__info p span {
    display: block;
  }
}

.charts__wrapper > div {
  margin-bottom: 50px;
}
/*# sourceMappingURL=style.css.map */