.filter-tabs {
    margin-top: 50px;
    .tabs-nav {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $magenta;
        padding-bottom: 5px;

        @include breakpoint(sm-tablet) {
            flex-direction: column;
        }

        li {
            border-radius: 6px;

            a {
                text-decoration: none;
                color: $magenta;
                font-weight: 600;
                padding: 16px 50px;
                display: inline-block;
                text-align: center;

                @include breakpoint(md-tablet) {
                    padding: 16px;
                }
            }

            &:hover {
                background-color: rgba(220, 220, 220, 0.405);
            }

            &.active {
                background-color: $magenta;

                a{
                    color: $white;
                }
            }
        }


        &.city-tabs-nav {
            li {
                a {
                    padding: 16px 30px;
                    font-size: 14px;

                    @include breakpoint(lg-tablet) {
                        padding: 12px 12px;
                    }
                }
            }
        }
        &.mexico-tabs-nav  {
            li {
                a{
                    padding: 10px 12px;
                    font-size: 14px;
                }
            }
         
        }
    }
    .tabs-content-wrapper{
        margin-top: 50px;

        .tab-content {
            h3{
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}