.header {
  background-image: url(../images/header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 90px);
  position: relative;
  width: 100%;

  @include breakpoint(lg-desktop) {
    height: 600px;
  }

  @include breakpoint(md-tablet) {
    height: 400px
  }
}
