.council {
    padding: 80px 0;

    &__content {
        display: flex;
        flex-direction: column;

        &--info {
            @include breakpoint(sm-tablet) {
                flex-direction: column-reverse;
            }

            h3 {
                font-size: 20px;
                font-weight: 700;
                color: $magenta;
                margin-bottom: 16px;
            }
            p {
                font-size: 18px;
                line-height: 26px;
            }
            .map-img {
                width: 100%;

                @include breakpoint(sm-tablet) {
                    margin: 20px 10px;
                    width: 95%;
                }
            }

            .acrobat-wrapper {
                ul {
                    li {
                        width: auto;
                        a {
                            .acrobat-info {
                                h4 {
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 22px;
                                    color: $magenta;
                                }
                                h5 {
                                    font-weight: 700;
                                    font-size: 20px;
                                    line-height: 22px;
                                    color: $black;
                                    margin-top: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 80px;

        &--card {
            border: 4px solid transparent;
            width: 15%;
            text-align: center;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            margin-left: 20px;
            margin-bottom: 20px;
            min-width: 175px;

            @include breakpoint(lg-tablet) {
                width: auto;
              }

            &:first-child {
                margin-left: 0px;
            }

            h4 {
                font-size: 18px;
                font-weight: 700;
                color: white;
                padding: 10px;
                line-height: 22px;
            }
            p {
                padding: 20px 10px;
                font-size: 16px;
                color: $grey;
                line-height: 20px;
                text-align: center;
            }
            a {
                text-decoration: none;
                padding: 10px;
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                margin-top: auto;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.blue-card {
                border-color: $blue;
                h4 {
                    background-color:  $blue;
                }
                a {
                    background-color: #4478b526;
                    color: $blue;
                }
            }
            &.sky-blue-card {
                border-color: $sky-blue;
                h4 {
                    background-color:  $sky-blue;
                }
                a {
                    background-color: #75c5f029;
                    color: $sky-blue;
                }
            }
            &.orange-card {
                border-color: $orange;
                h4 {
                    background-color: $orange;
                }
                a {
                    background-color: #e7781729;
                    color: $orange;
                }
            }

            &.yellow-card {
                border-color: $yellow;
                h4 {
                    background-color:$yellow;
                }
                a {
                    background-color: #f4ca5230;
                    color: $yellow;
                }
            }
            &.purple-card {
                border-color: $purple;
                h4 {
                    background-color:$purple;
                }
                a {
                    background-color: #6d609e38;
                    color: $purple;
                }
            }
            &.green-card {
                border-color: $green;
                h4 {
                    background-color:$green;
                }
                a {
                    background-color: #84c2252b;
                    color: $green;
                }
            }
        }
    }   
}